.hidden {
    display: none;
}

#logo {
    max-width: 100%;
    height: auto;
    margin-bottom: 32px;
}

#title {
    font-family: "Oswald", sans-serif;
    font-weight: bold;
    margin-bottom: 32px;
}

#app {
    font-family: "Helvetica", Arial, sans-serif;
}